# House-Price-Model(Linear Regression)

###  Importing modules

In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Reading File

In [150]:
features=pd.read_csv('F:/Master SEM-2/dsp-yashkumar-jain/data/house-prices-advanced-regression-techniques/train.csv')

In [151]:
Train_data_copy=features

# Model training

In [152]:
target=train['SalePrice']

In [153]:
# Train.csv has been split because to find the performance metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
features_train, features_validation, target_train, target_validation = train_test_split(features,target, test_size = 0.2, random_state=0)

### FInd correlation with respect to SalePrice

In [154]:
features_train.corr().sort_values(by='SalePrice')['SalePrice']

KitchenAbvGr    -0.136104
EnclosedPorch   -0.129519
MSSubClass      -0.084312
OverallCond     -0.053643
YrSold          -0.045628
MiscVal         -0.024750
LowQualFinSF    -0.023128
BsmtFinSF2      -0.020622
Id              -0.017389
BsmtHalfBath    -0.010994
PoolArea         0.027441
MoSold           0.041369
3SsnPorch        0.057561
ScreenPorch      0.096740
BedroomAbvGr     0.182258
BsmtUnfSF        0.206736
BsmtFullBath     0.226432
LotArea          0.252766
HalfBath         0.283762
WoodDeckSF       0.311813
2ndFlrSF         0.320141
OpenPorchSF      0.320193
LotFrontage      0.360274
BsmtFinSF1       0.401390
Fireplaces       0.470320
MasVnrArea       0.493482
GarageYrBlt      0.494154
YearRemodAdd     0.517822
YearBuilt        0.521242
TotRmsAbvGrd     0.542658
FullBath         0.578134
1stFlrSF         0.620740
TotalBsmtSF      0.635535
GarageArea       0.646603
GarageCars       0.660927
GrLivArea        0.721707
OverallQual      0.790636
SalePrice        1.000000
Name: SalePrice, dtype: float64

### Taking features which has correlation greater than 0.6

In [155]:
# Spearting numerical features for train
features_train_numerical=features_train[['OverallQual','GrLivArea','GarageCars','GarageArea','TotalBsmtSF','SalePrice']]
features_train_numerical

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  SalePrice
618             9       1828           3         774         1822     314813
870             5        894           1         308          894     109500
92              5        964           2         432          876     163500
817             8       1689           3         857         1568     271000
302             7       1541           3         843         1541     205000
...           ...        ...         ...         ...          ...        ...
763             8       2365           3         856         1252     337000
835             4       1067           2         436         1067     128000
1216            6       1902           2         539            0     112000
559             7       1557           2         420         1374     234000
684             7       1839           2         486         1195     221000

[1168 rows x 6 columns]

In [156]:
features_validation_numerical=features_validation[['OverallQual','GrLivArea','GarageCars','GarageArea','TotalBsmtSF','SalePrice']]
features_validation_numerical

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  SalePrice
529             6       2515           2         484         2035     200624
491             6       1578           1         240          806     133000
459             5       1203           1         352          709     110000
279             7       2022           2         505         1160     192000
655             6       1092           1         264          525      88000
...           ...        ...         ...         ...          ...        ...
326             8       1719           2         473         1719     324000
440            10       2402           3         672         3094     555000
1387            6       2526           1         216          714     136000
1323            4        708           0           0          420      82500
61              5       1111           1         288          530     101000

[292 rows x 6 columns]

## Categorical Features

In [157]:
features_train_categorical=features_train.select_dtypes(include=['object'])
features_train_categorical.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,New,Partial
870,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
817,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
302,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [158]:
features_train_categorical.isnull().sum()

MSZoning            0
Street              0
Alley            1097
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          6
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           28
BsmtCond           28
BsmtExposure       28
BsmtFinType1       28
BsmtFinType2       29
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       551
GarageType         58
GarageFinish       58
GarageQual         58
GarageCond         58
PavedDrive          0
PoolQC           1164
Fence             954
MiscFeature      1119
SaleType            0
SaleCondition       0
dtype: int64

In [159]:
features_validation_categorical=features_validation.select_dtypes(include=['object'])
features_validation_categorical.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
529,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Crawfor,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Alloca
491,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Artery,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
459,RL,Pave,NaN,IR1,Bnk,AllPub,Corner,Gtl,BrkSide,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
279,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,ClearCr,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
655,RM,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,BrDale,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Family

### Replacing null values to something meaningful

In [160]:

'''def replaceNaN(dataframe):
    df.fillna({'Alley':'No alley access',
                   'BsmtQual':'No Basement',
                   'BsmtCond':'No Basement',
                   'BsmtExposure':'No Basement',
                   'BsmtFinType1':'No Basement',
                   'BsmtFinType2':'No Basement',
                    'FireplaceQu':'No Fireplace',
                   'GarageType':'No Garage',
                   'GarageFinish':'No Garage',
                   'GarageQual':'No Garage',
                   'GarageCond':'No Garage',
                   'PoolQC':'No Pool',
                   'Fence':'No Fence',
                   'MiscFeature':'None'},
                  inplace = True)'''

"def replaceNaN(dataframe):\n    df.fillna({'Alley':'No alley access',\n                   'BsmtQual':'No Basement',\n                   'BsmtCond':'No Basement',\n                   'BsmtExposure':'No Basement',\n                   'BsmtFinType1':'No Basement',\n                   'BsmtFinType2':'No Basement',\n                    'FireplaceQu':'No Fireplace',\n                   'GarageType':'No Garage',\n                   'GarageFinish':'No Garage',\n                   'GarageQual':'No Garage',\n                   'GarageCond':'No Garage',\n                   'PoolQC':'No Pool',\n                   'Fence':'No Fence',\n                   'MiscFeature':'None'},\n                  inplace = True)"

In [161]:
#replaceNaN(features_train_categorical)
#features_train_categorical.isnull().sum()

In [162]:
#replaceNaN(features_validation_categorical)
#val_X_cat.isnull().sum()

## Concatinating train and Val for encoding

In [163]:
train_id = features_train_categorical.index
validation_id = features_validation_categorical.index
data = pd.concat([features_train_categorical,features_validation_categorical])
data.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,New,Partial
870,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
817,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
302,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [164]:
for col in data:
    print(data[col].unique())

['RL' 'FV' 'RM' 'RH' 'C (all)']
['Pave' 'Grvl']
[nan 'Grvl' 'Pave']
['Reg' 'IR1' 'IR2' 'IR3']
['Lvl' 'HLS' 'Bnk' 'Low']
['AllPub' 'NoSeWa']
['Inside' 'CulDSac' 'Corner' 'FR2' 'FR3']
['Gtl' 'Mod' 'Sev']
['NridgHt' 'NAmes' 'Crawfor' 'Mitchel' 'CollgCr' 'Somerst' 'MeadowV'
 'BrkSide' 'Edwards' 'OldTown' 'Veenker' 'Gilbert' 'IDOTRR' 'Timber'
 'Blmngtn' 'StoneBr' 'SWISU' 'SawyerW' 'NWAmes' 'Sawyer' 'NoRidge'
 'ClearCr' 'BrDale' 'NPkVill' 'Blueste']
['Norm' 'PosN' 'Feedr' 'Artery' 'PosA' 'RRAn' 'RRAe' 'RRNn' 'RRNe']
['Norm' 'PosA' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRAn' 'RRNn']
['1Fam' 'Twnhs' 'TwnhsE' '2fmCon' 'Duplex']
['1Story' '2Story' 'SLvl' '1.5Fin' '2.5Unf' '2.5Fin' 'SFoyer' '1.5Unf']
['Hip' 'Gable' 'Flat' 'Mansard' 'Shed' 'Gambrel']
['CompShg' 'Membran' 'Tar&Grv' 'WdShake' 'WdShngl' 'Metal' 'Roll'
 'ClyTile']
['CemntBd' 'MetalSd' 'Wd Sdng' 'VinylSd' 'Plywood' 'HdBoard' 'BrkFace'
 'AsbShng' 'WdShing' 'AsphShn' 'Stucco' 'BrkComm' 'ImStucc' 'CBlock'
 'Stone']
['CmentBd' 'MetalSd' 'Wd Sdng' 'VinylSd' 'BrkFace' 'Plywood' 'HdBoard'
 'Wd Shng' 'AsbShng' 'Brk Cmn' 'AsphShn' 'Stucco' 'ImStucc' 'Stone'
 'CBlock' 'Other']
['BrkFace' 'None' 'Stone' nan 'BrkCmn']
['Ex' 'TA' 'Gd' 'Fa']
['TA' 'Gd' 'Ex' 'Fa' 'Po']
['PConc' 'CBlock' 'BrkTil' 'Stone' 'Slab' 'Wood']
['Ex' 'TA' 'Gd' nan 'Fa']
['TA' 'Gd' nan 'Fa' 'Po']
['Av' 'No' 'Gd' nan 'Mn']
['GLQ' 'Unf' 'ALQ' 'Rec' nan 'LwQ' 'BLQ']
['Unf' 'ALQ' 'Rec' nan 'BLQ' 'LwQ' 'GLQ']
['GasA' 'OthW' 'GasW' 'Grav' 'Wall' 'Floor']
['Ex' 'Gd' 'TA' 'Fa' 'Po']
['Y' 'N']
['SBrkr' 'FuseF' 'FuseA' 'FuseP' nan 'Mix']
['Gd' 'TA' 'Ex' 'Fa']
['Typ' 'Min1' 'Min2' 'Maj2' 'Mod' 'Maj1' 'Sev']
['Gd' nan 'TA' 'Ex' 'Po' 'Fa']
['Attchd' 'Detchd' 'BuiltIn' nan 'Basment' '2Types' 'CarPort']
['Unf' 'RFn' 'Fin' nan]
['TA' 'Fa' nan 'Gd' 'Ex' 'Po']
['TA' 'Fa' nan 'Gd' 'Ex' 'Po']
['Y' 'P' 'N']
[nan 'Fa' 'Gd' 'Ex']
[nan 'GdWo' 'GdPrv' 'MnPrv' 'MnWw']
[nan 'Shed' 'Gar2' 'Othr' 'TenC']
['New' 'WD' 'COD' 'ConLD' 'ConLw' 'Oth' 'ConLI' 'Con' 'CWD']
['Partial' 'Normal' 'Abnorml' 'Family' 'Alloca' 'AdjLand']

In [165]:
# ordinal encoding
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
ordinal=OrdinalEncoder()
data[data.columns] = pd.DataFrame(ordinal.fit_transform(data))
data.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,1.0,1.0,NaN,0.0,3.0,0.0,4.0,0.0,21.0,2.0,...,1.0,0.0,4.0,4.0,2.0,NaN,NaN,NaN,6.0,5.0
870,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,5.0,2.0,...,3.0,0.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
92,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,19.0,2.0,...,1.0,2.0,4.0,4.0,2.0,NaN,2.0,NaN,8.0,4.0
817,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,1.0,0.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
302,3.0,1.0,NaN,1.0,2.0,0.0,0.0,1.0,4.0,1.0,...,1.0,0.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0

In [166]:
features_train_categorical=data.iloc[train_id]

In [167]:
features_validation_categorical=data.iloc[validation_id]
features_validation_categorical

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
293,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,1.0,2.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
167,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,8.0,6.0,...,1.0,0.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
683,3.0,1.0,NaN,0.0,3.0,0.0,4.0,0.0,16.0,2.0,...,1.0,0.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
356,3.0,1.0,NaN,3.0,3.0,0.0,0.0,0.0,12.0,1.0,...,5.0,2.0,4.0,4.0,2.0,NaN,2.0,NaN,8.0,4.0
456,3.0,1.0,NaN,0.0,3.0,0.0,0.0,0.0,19.0,2.0,...,5.0,2.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,3.0,1.0,NaN,3.0,3.0,0.0,2.0,0.0,12.0,2.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,4.0,4.0
1232,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,1.0,1.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
434,3.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,6.0,2.0,...,5.0,2.0,4.0,1.0,2.0,NaN,NaN,NaN,8.0,4.0
1386,1.0,1.0,NaN,3.0,3.0,0.0,4.0,0.0,21.0,2.0,...,1.0,1.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,4.0
259,3.0,1.0,NaN,0.0,3.0,0.0,4.0,0.0,12.0,2.0,...,1.0,2.0,4.0,4.0,2.0,NaN,NaN,NaN,8.0,0.0

In [168]:
features_validation_categorical.index = features_validation_numerical.index
features_train= pd.concat([features_validation_categorical, features_validation_numerical], axis=1)

In [169]:
#validation set
features_validation_categorical.index = features_validation_numerical.index
features_validation = pd.concat([features_validation_categorical, features_validation_numerical], axis=1)

### Finding top correlation with saleprice

In [170]:
data=features_train.corr().sort_values(by='SalePrice',ascending=False)['SalePrice']
data[:15]

SalePrice       1.000000
OverallQual     0.792621
GrLivArea       0.665093
GarageCars      0.571763
TotalBsmtSF     0.558510
GarageArea      0.544405
MiscFeature     0.518038
Fence           0.210058
KitchenQual     0.151319
HeatingQC       0.125478
Alley           0.117347
ExterQual       0.109523
GarageFinish    0.086236
BsmtQual        0.067200
RoofStyle       0.060877
Name: SalePrice, dtype: float64

### Taking features which has corr greater than 0.60

In [171]:
#separate labels from training set 
target_train = pd.DataFrame(features_train['SalePrice'], columns=['SalePrice'])
print(target_train.head())
features_train=features_train[['OverallQual','GrLivArea','Foundation','Neighborhood']]
features_train.info()

     SalePrice
529     200624
491     133000
459     110000
279     192000
655      88000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 529 to 61
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   292 non-null    int64
 1   GrLivArea     292 non-null    int64
 2   Foundation    292 non-null    float64
 3   Neighborhood  292 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 11.4 KB

In [172]:
features_validation = features_validation[['OverallQual','GrLivArea','Foundation','Neighborhood']]

## Applying Standardisation:

In [173]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
features_train = sc.fit_transform(features_train)
features_validation = sc.fit_transform(features_validation)

## Dealing with missing value if any

In [184]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(features_train)
features_train = imputer.transform(features_train)

In [185]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(features_validation)
features_validation = imputer.transform(features_validation)

## Linear Regression Model

In [186]:
from sklearn.linear_model import LinearRegression
#Applying MultiRegression
multi_regression_model = LinearRegression()
multi_regression_model.fit(features_train,target_train)

LinearRegression()

In [187]:
feature_target_prediction = multi_regression_model.predict(features_validation)

In [188]:
feature_target_prediction = pd.DataFrame(y_pred,columns=['SalePrice'])

In [189]:
feature_target_prediction

         SalePrice
0    223504.052610
1    175746.547983
2    127363.726736
3    234731.229076
4    162200.871152
..             ...
287  257213.018875
288  357509.007372
289  221478.399835
290   72673.630924
291  124830.883198

[292 rows x 1 columns]

## Performace of Model

In [190]:
from sklearn.metrics import r2_score
def cost_function(feature_target_prediction, target_validation):
    feature_target_prediction = feature_target_prediction.squeeze()
    target_validation = target_validation.squeeze()
    print("Mean square error (MSE): %.2f" % np.mean((feature_target_prediction - target_validation) ** 2))
    print("Root mean square error (RMSE): %.2f" % np.sqrt(np.mean((feature_target_prediction - target_validation) ** 2)))
    print("Mean absolute error (MAE): %.2f" % np.mean(abs(feature_target_prediction - target_validation)))
    print("Coefficient of determination (R^2): %.2f" % r2_score(feature_target_prediction, target_validation))

cost_function(feature_target_prediction, target_validation)

Mean square error (MSE): 14197712162.14
Root mean square error (RMSE): 119154.15
Mean absolute error (MAE): 92115.56
Coefficient of determination (R^2): 0.54

## Finding RSMLE

In [191]:
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(Y_val: np.ndarray, y_pred: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(Y_val, y_pred))
    return round(rmsle, precision)

In [192]:
compute_rmsle(target_validation,feature_target_prediction)

0.22

#  Model evaluation

In [193]:
test=pd.read_csv('F:/Master SEM-2/dsp-yashkumar-jain/data/house-prices-advanced-regression-techniques/test.csv')

In [194]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [125]:
test = test[['OverallQual','GrLivArea','Foundation','Neighborhood']]
test.head()

   OverallQual  GrLivArea Foundation Neighborhood
0            5        896     CBlock        NAmes
1            6       1329     CBlock        NAmes
2            5       1629      PConc      Gilbert
3            6       1604      PConc      Gilbert
4            8       1280      PConc      StoneBr

In [126]:
test_X_num = test[['OverallQual','GrLivArea']]
test_X_num

      OverallQual  GrLivArea
0               5        896
1               6       1329
2               5       1629
3               6       1604
4               8       1280
...           ...        ...
1454            4       1092
1455            4       1092
1456            5       1224
1457            5        970
1458            7       2000

[1459 rows x 2 columns]

In [127]:
test_X_cat=test.select_dtypes(include=['object'])
test_X_cat.head()

  Foundation Neighborhood
0     CBlock        NAmes
1     CBlock        NAmes
2      PConc      Gilbert
3      PConc      Gilbert
4      PConc      StoneBr

In [140]:
#replaceNaN(test_X_cat)
#test_X_cat.isnull().sum()

In [141]:
ordinal=OrdinalEncoder()
test_X_cat[test_X_cat.columns] = pd.DataFrame(ordinal.fit_transform(test_X_cat))
test_X_cat.head()

   Foundation  Neighborhood
0         1.0          12.0
1         1.0          12.0
2         2.0           8.0
3         2.0           8.0
4         2.0          22.0

In [142]:
test_X_cat.index=test_X_num.index
test= pd.concat([test_X_num,test_X_cat],axis=1)
test.head()

   OverallQual  GrLivArea  Foundation  Neighborhood
0            5        896         1.0          12.0
1            6       1329         1.0          12.0
2            5       1629         2.0           8.0
3            6       1604         2.0           8.0
4            8       1280         2.0          22.0

In [143]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
test = sc.fit_transform(test)

In [144]:
test

array([[-0.75110125, -1.21558782, -0.5330071 , -0.10567223],
       [-0.05487716, -0.32353941, -0.5330071 , -0.10567223],
       [-0.75110125,  0.29450799,  0.8337018 , -0.78411355],
       ...,
       [-0.75110125, -0.539856  , -0.5330071 , -0.27528256],
       [-0.75110125, -1.06313613,  0.8337018 , -0.27528256],
       [ 0.64134693,  1.0588266 ,  0.8337018 , -0.27528256]])

In [145]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(test)
test = imputer.transform(test)

## Testing with test.csv

In [146]:
Y_final=multi_regression_model.predict(test)

In [147]:
Y_final = pd.DataFrame(Y_final,columns=['SalePrice'])

In [148]:
Y_final

          SalePrice
0     114238.264120
1     171585.237846
2     146542.083811
3     180884.337713
4     241266.464454
...             ...
1454   87705.070394
1455   87705.070394
1456  130323.240840
1457  114611.463571
1458  237542.908951

[1459 rows x 1 columns]