# House-Price-Model(Linear Regression)

###  Importing modules

In [361]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Reading File

In [362]:
train=pd.read_csv('F:/Master SEM-2/dsp-yashkumar-jain/data/house-prices-advanced-regression-techniques/train.csv')

In [363]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Model training

In [364]:
Y=train['SalePrice']

In [365]:
# Train.csv has been split because to find the performance metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(train,Y, test_size = 0.2, random_state=0)

### FInd correlation with respect to SalePrice

In [366]:
X_train.corr().sort_values(by='SalePrice')['SalePrice']

KitchenAbvGr    -0.136104
EnclosedPorch   -0.129519
MSSubClass      -0.084312
OverallCond     -0.053643
YrSold          -0.045628
MiscVal         -0.024750
LowQualFinSF    -0.023128
BsmtFinSF2      -0.020622
Id              -0.017389
BsmtHalfBath    -0.010994
PoolArea         0.027441
MoSold           0.041369
3SsnPorch        0.057561
ScreenPorch      0.096740
BedroomAbvGr     0.182258
BsmtUnfSF        0.206736
BsmtFullBath     0.226432
LotArea          0.252766
HalfBath         0.283762
WoodDeckSF       0.311813
2ndFlrSF         0.320141
OpenPorchSF      0.320193
LotFrontage      0.360274
BsmtFinSF1       0.401390
Fireplaces       0.470320
MasVnrArea       0.493482
GarageYrBlt      0.494154
YearRemodAdd     0.517822
YearBuilt        0.521242
TotRmsAbvGrd     0.542658
FullBath         0.578134
1stFlrSF         0.620740
TotalBsmtSF      0.635535
GarageArea       0.646603
GarageCars       0.660927
GrLivArea        0.721707
OverallQual      0.790636
SalePrice        1.000000
Name: SalePrice, dtype: float64

### Taking features which has correlation greater than 0.6

In [367]:
# Spearting numerical features for train
train_X_num=X_train[['OverallQual','GrLivArea','GarageCars','GarageArea','TotalBsmtSF','SalePrice']]
train_X_num

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  SalePrice
618             9       1828           3         774         1822     314813
870             5        894           1         308          894     109500
92              5        964           2         432          876     163500
817             8       1689           3         857         1568     271000
302             7       1541           3         843         1541     205000
...           ...        ...         ...         ...          ...        ...
763             8       2365           3         856         1252     337000
835             4       1067           2         436         1067     128000
1216            6       1902           2         539            0     112000
559             7       1557           2         420         1374     234000
684             7       1839           2         486         1195     221000

[1168 rows x 6 columns]

In [368]:
val_X_num=X_val[['OverallQual','GrLivArea','GarageCars','GarageArea','TotalBsmtSF','SalePrice']]
val_X_num

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  SalePrice
529             6       2515           2         484         2035     200624
491             6       1578           1         240          806     133000
459             5       1203           1         352          709     110000
279             7       2022           2         505         1160     192000
655             6       1092           1         264          525      88000
...           ...        ...         ...         ...          ...        ...
326             8       1719           2         473         1719     324000
440            10       2402           3         672         3094     555000
1387            6       2526           1         216          714     136000
1323            4        708           0           0          420      82500
61              5       1111           1         288          530     101000

[292 rows x 6 columns]

## Categorical Features

In [369]:
train_X_cat=X_train.select_dtypes(include=['object'])
train_X_cat.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,New,Partial
870,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
817,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
302,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [370]:
train_X_cat.isnull().sum()

MSZoning            0
Street              0
Alley            1097
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          6
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           28
BsmtCond           28
BsmtExposure       28
BsmtFinType1       28
BsmtFinType2       29
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       551
GarageType         58
GarageFinish       58
GarageQual         58
GarageCond         58
PavedDrive          0
PoolQC           1164
Fence             954
MiscFeature      1119
SaleType            0
SaleCondition       0
dtype: int64

In [371]:
val_X_cat=X_val.select_dtypes(include=['object'])
val_X_cat.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
529,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Crawfor,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Alloca
491,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Artery,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
459,RL,Pave,NaN,IR1,Bnk,AllPub,Corner,Gtl,BrkSide,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
279,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,ClearCr,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
655,RM,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,BrDale,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Family

### Replacing null values to something meaningful

In [372]:
def replaceNaN(df):
    df.fillna({'Alley':'No alley access',
                   'BsmtQual':'No Basement',
                   'BsmtCond':'No Basement',
                   'BsmtExposure':'No Basement',
                   'BsmtFinType1':'No Basement',
                   'BsmtFinType2':'No Basement',
                    'FireplaceQu':'No Fireplace',
                   'GarageType':'No Garage',
                   'GarageFinish':'No Garage',
                   'GarageQual':'No Garage',
                   'GarageCond':'No Garage',
                   'PoolQC':'No Pool',
                   'Fence':'No Fence',
                   'MiscFeature':'None'},
                  inplace = True)

In [373]:
replaceNaN(train_X_cat)
train_X_cat.isnull().sum()

MSZoning         0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       6
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       1
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
PoolQC           0
Fence            0
MiscFeature      0
SaleType         0
SaleCondition    0
dtype: int64

In [374]:
replaceNaN(val_X_cat)
val_X_cat.isnull().sum()

MSZoning         0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       2
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
PoolQC           0
Fence            0
MiscFeature      0
SaleType         0
SaleCondition    0
dtype: int64

## Concatinating train and Val for encoding

In [375]:
train_id=train_X_cat.index
val_id=val_X_cat.index
data = pd.concat([train_X_cat,val_X_cat])
data.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,No alley access,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,No Pool,No Fence,None,New,Partial
870,RL,Pave,No alley access,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,No Pool,No Fence,None,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,No Pool,No Fence,None,WD,Normal
817,RL,Pave,No alley access,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,No Pool,No Fence,None,WD,Normal
302,RL,Pave,No alley access,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,No Pool,No Fence,None,WD,Normal

In [376]:
for col in data:
    print(data[col].unique())

['RL' 'FV' 'RM' 'RH' 'C (all)']
['Pave' 'Grvl']
['No alley access' 'Grvl' 'Pave']
['Reg' 'IR1' 'IR2' 'IR3']
['Lvl' 'HLS' 'Bnk' 'Low']
['AllPub' 'NoSeWa']
['Inside' 'CulDSac' 'Corner' 'FR2' 'FR3']
['Gtl' 'Mod' 'Sev']
['NridgHt' 'NAmes' 'Crawfor' 'Mitchel' 'CollgCr' 'Somerst' 'MeadowV'
 'BrkSide' 'Edwards' 'OldTown' 'Veenker' 'Gilbert' 'IDOTRR' 'Timber'
 'Blmngtn' 'StoneBr' 'SWISU' 'SawyerW' 'NWAmes' 'Sawyer' 'NoRidge'
 'ClearCr' 'BrDale' 'NPkVill' 'Blueste']
['Norm' 'PosN' 'Feedr' 'Artery' 'PosA' 'RRAn' 'RRAe' 'RRNn' 'RRNe']
['Norm' 'PosA' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRAn' 'RRNn']
['1Fam' 'Twnhs' 'TwnhsE' '2fmCon' 'Duplex']
['1Story' '2Story' 'SLvl' '1.5Fin' '2.5Unf' '2.5Fin' 'SFoyer' '1.5Unf']
['Hip' 'Gable' 'Flat' 'Mansard' 'Shed' 'Gambrel']
['CompShg' 'Membran' 'Tar&Grv' 'WdShake' 'WdShngl' 'Metal' 'Roll'
 'ClyTile']
['CemntBd' 'MetalSd' 'Wd Sdng' 'VinylSd' 'Plywood' 'HdBoard' 'BrkFace'
 'AsbShng' 'WdShing' 'AsphShn' 'Stucco' 'BrkComm' 'ImStucc' 'CBlock'
 'Stone']
['CmentBd' 'MetalSd' 'Wd Sdng' 'VinylSd' 'BrkFace' 'Plywood' 'HdBoard'
 'Wd Shng' 'AsbShng' 'Brk Cmn' 'AsphShn' 'Stucco' 'ImStucc' 'Stone'
 'CBlock' 'Other']
['BrkFace' 'None' 'Stone' nan 'BrkCmn']
['Ex' 'TA' 'Gd' 'Fa']
['TA' 'Gd' 'Ex' 'Fa' 'Po']
['PConc' 'CBlock' 'BrkTil' 'Stone' 'Slab' 'Wood']
['Ex' 'TA' 'Gd' 'No Basement' 'Fa']
['TA' 'Gd' 'No Basement' 'Fa' 'Po']
['Av' 'No' 'Gd' 'No Basement' 'Mn']
['GLQ' 'Unf' 'ALQ' 'Rec' 'No Basement' 'LwQ' 'BLQ']
['Unf' 'ALQ' 'Rec' 'No Basement' 'BLQ' 'LwQ' 'GLQ']
['GasA' 'OthW' 'GasW' 'Grav' 'Wall' 'Floor']
['Ex' 'Gd' 'TA' 'Fa' 'Po']
['Y' 'N']
['SBrkr' 'FuseF' 'FuseA' 'FuseP' nan 'Mix']
['Gd' 'TA' 'Ex' 'Fa']
['Typ' 'Min1' 'Min2' 'Maj2' 'Mod' 'Maj1' 'Sev']
['Gd' 'No Fireplace' 'TA' 'Ex' 'Po' 'Fa']
['Attchd' 'Detchd' 'BuiltIn' 'No Garage' 'Basment' '2Types' 'CarPort']
['Unf' 'RFn' 'Fin' 'No Garage']
['TA' 'Fa' 'No Garage' 'Gd' 'Ex' 'Po']
['TA' 'Fa' 'No Garage' 'Gd' 'Ex' 'Po']
['Y' 'P' 'N']
['No Pool' 'Fa' 'Gd' 'Ex']
['No Fence' 'GdWo' 'GdPrv' 'MnPrv' 'MnWw']
['None' 'Shed' 'Gar2' 'Othr' 'TenC']
['New' 'WD' 'COD' 'ConLD' 'ConLw' 'Oth' 'ConLI' 'Con' 'CWD']
['Partial' 'Normal' 'Abnorml' 'Family' 'Alloca' 'AdjLand']

In [377]:
# ordinal encoding
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
ordinal=OrdinalEncoder()
data[data.columns] = pd.DataFrame(ordinal.fit_transform(data))
data.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,1.0,1.0,1.0,0.0,3.0,0.0,4.0,0.0,21.0,2.0,...,1.0,0.0,5.0,5.0,2.0,3.0,4.0,1.0,6.0,5.0
870,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,5.0,2.0,...,3.0,0.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
92,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,19.0,2.0,...,1.0,3.0,5.0,5.0,2.0,3.0,2.0,1.0,8.0,4.0
817,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,1.0,0.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
302,3.0,1.0,1.0,1.0,2.0,0.0,0.0,1.0,4.0,1.0,...,1.0,0.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0

In [378]:
X_train_cat=data.iloc[train_id]

In [379]:
X_train_cat.shape,X_val_cat.shape

((1168, 43), (292, 43))

In [380]:
X_val_cat=data.iloc[val_id]
X_val_cat

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
293,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,1.0,3.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
167,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,8.0,6.0,...,1.0,0.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
683,3.0,1.0,1.0,0.0,3.0,0.0,4.0,0.0,16.0,2.0,...,1.0,0.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
356,3.0,1.0,1.0,3.0,3.0,0.0,0.0,0.0,12.0,1.0,...,5.0,3.0,5.0,5.0,2.0,3.0,2.0,1.0,8.0,4.0
456,3.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,19.0,2.0,...,5.0,3.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,3.0,1.0,1.0,3.0,3.0,0.0,2.0,0.0,12.0,2.0,...,6.0,1.0,3.0,3.0,2.0,3.0,4.0,1.0,4.0,4.0
1232,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,1.0,2.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
434,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,6.0,2.0,...,5.0,3.0,5.0,1.0,2.0,3.0,4.0,1.0,8.0,4.0
1386,1.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,21.0,2.0,...,1.0,2.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,4.0
259,3.0,1.0,1.0,0.0,3.0,0.0,4.0,0.0,12.0,2.0,...,1.0,3.0,5.0,5.0,2.0,3.0,4.0,1.0,8.0,0.0

In [381]:
X_train_cat.index=train_X_num.index
X_train= pd.concat([X_train_cat,train_X_num],axis=1)

In [382]:
#validation set
X_val_cat.index=val_X_num.index
X_test = pd.concat([X_val_cat,val_X_num],axis=1)
X_test.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,Fence,MiscFeature,SaleType,SaleCondition,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,SalePrice
529,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,20.0,2.0,...,4.0,1.0,8.0,4.0,6,2515,2,484,2035,200624
491,3.0,1.0,1.0,3.0,3.0,0.0,4.0,0.0,8.0,6.0,...,4.0,1.0,8.0,4.0,6,1578,1,240,806,133000
459,3.0,1.0,1.0,0.0,3.0,0.0,4.0,0.0,16.0,2.0,...,4.0,1.0,8.0,4.0,5,1203,1,352,709,110000
279,3.0,1.0,1.0,3.0,3.0,0.0,0.0,0.0,12.0,1.0,...,2.0,1.0,8.0,4.0,7,2022,2,505,1160,192000
655,3.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,19.0,2.0,...,4.0,1.0,8.0,4.0,6,1092,1,264,525,88000

### Finding top correlation with saleprice

In [383]:
data=X_train.corr().sort_values(by='SalePrice',ascending=False)['SalePrice']
data[:15]

SalePrice       1.000000
OverallQual     0.790636
GrLivArea       0.721707
GarageCars      0.660927
GarageArea      0.646603
TotalBsmtSF     0.635535
GarageType      0.055712
FireplaceQu     0.052482
MiscFeature     0.047339
BsmtExposure    0.047010
BsmtFinType1    0.046145
Alley           0.042209
LotConfig       0.037875
Street          0.037692
GarageCond      0.025912
Name: SalePrice, dtype: float64

### Taking features which has corr greater than 0.60

In [384]:
#separate labels from training set 
Y_train=pd.DataFrame(X_train['SalePrice'],columns=['SalePrice'])
print(Y_train.head())
X_train=X_train[['OverallQual','GrLivArea','Foundation','Neighborhood']]
X_train.info()

     SalePrice
618     314813
870     109500
92      163500
817     271000
302     205000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168 entries, 618 to 684
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1168 non-null   int64
 1   GrLivArea     1168 non-null   int64
 2   Foundation    1168 non-null   float64
 3   Neighborhood  1168 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 45.6 KB

In [385]:
X_Val=X_test[['OverallQual','GrLivArea','Foundation','Neighborhood']]
X_Val

      OverallQual  GrLivArea  Foundation  Neighborhood
529             6       2515         1.0          20.0
491             6       1578         2.0           8.0
459             5       1203         2.0          16.0
279             7       2022         1.0          12.0
655             6       1092         1.0          19.0
...           ...        ...         ...           ...
326             8       1719         1.0          12.0
440            10       2402         2.0          20.0
1387            6       2526         0.0           6.0
1323            4        708         2.0          21.0
61              5       1111         1.0          12.0

[292 rows x 4 columns]

## Applying Standardisation:

In [386]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_Val = sc.transform(X_Val)

## Dealing with missing value if any

In [388]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X_train)
X_train = imputer.transform(X_train)

In [389]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X_Val)
X_Val = imputer.transform(X_Val)

## Linear Regression Model

In [390]:
from sklearn.linear_model import LinearRegression
#Applying MultiRegression
Multi_reg = LinearRegression()
Multi_reg.fit(X_train,Y_train)

LinearRegression()

In [391]:
y_pred = Multi_reg.predict(X_Val)

In [392]:
y_pred = pd.DataFrame(y_pred,columns=['SalePrice'])

In [393]:
y_pred

         SalePrice
0    238728.678900
1    180499.952850
2    126700.958380
3    240655.120412
4    153594.785330
..             ...
287  254688.012542
288  359432.718300
289  239175.170179
290   65448.695899
291  121931.890486

[292 rows x 1 columns]

## Performace of Model

In [394]:
from sklearn.metrics import r2_score
def CostFunction(y_pred, Y_test):
    y_pred = y_pred.squeeze()
    y_val = Y_test.squeeze()
    print("Mean square error (MSE): %.2f" % np.mean((y_pred - y_val) ** 2))
    print("Root mean square error (RMSE): %.2f" % np.sqrt(np.mean((y_pred - y_val) ** 2)))
    print("Mean absolute error (MAE): %.2f" % np.mean(abs(y_pred - y_val)))
    print("Coefficient of determination (R^2): %.2f" % r2_score(y_val, y_pred))

CostFunction(y_pred, Y_val)

Mean square error (MSE): 14620189665.80
Root mean square error (RMSE): 120913.98
Mean absolute error (MAE): 93429.85
Coefficient of determination (R^2): 0.68

## Finding RSMLE

In [395]:
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(Y_val: np.ndarray, y_pred: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(Y_val, y_pred))
    return round(rmsle, precision)

In [396]:
compute_rmsle(Y_val,y_pred)

0.23

#  Model evaluation

In [410]:
test=pd.read_csv('F:/Master SEM-2/dsp-yashkumar-jain/data/house-prices-advanced-regression-techniques/test.csv')

In [411]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [412]:
test=test[['OverallQual','GrLivArea','Foundation','Neighborhood']]
test.head()

   OverallQual  GrLivArea Foundation Neighborhood
0            5        896     CBlock        NAmes
1            6       1329     CBlock        NAmes
2            5       1629      PConc      Gilbert
3            6       1604      PConc      Gilbert
4            8       1280      PConc      StoneBr

In [413]:
test_X_num=test[['OverallQual','GrLivArea']]
test_X_num

      OverallQual  GrLivArea
0               5        896
1               6       1329
2               5       1629
3               6       1604
4               8       1280
...           ...        ...
1454            4       1092
1455            4       1092
1456            5       1224
1457            5        970
1458            7       2000

[1459 rows x 2 columns]

In [414]:
test_X_cat=test.select_dtypes(include=['object'])
test_X_cat.head()

  Foundation Neighborhood
0     CBlock        NAmes
1     CBlock        NAmes
2      PConc      Gilbert
3      PConc      Gilbert
4      PConc      StoneBr

In [415]:
replaceNaN(test_X_cat)
test_X_cat.isnull().sum()

Foundation      0
Neighborhood    0
dtype: int64

In [416]:
ordinal=OrdinalEncoder()
test_X_cat[test_X_cat.columns] = pd.DataFrame(ordinal.fit_transform(test_X_cat))
test_X_cat.head()

   Foundation  Neighborhood
0         1.0          12.0
1         1.0          12.0
2         2.0           8.0
3         2.0           8.0
4         2.0          22.0

In [417]:
test_X_cat.index=test_X_num.index
test= pd.concat([test_X_num,test_X_cat],axis=1)
test.head()

   OverallQual  GrLivArea  Foundation  Neighborhood
0            5        896         1.0          12.0
1            6       1329         1.0          12.0
2            5       1629         2.0           8.0
3            6       1604         2.0           8.0
4            8       1280         2.0          22.0

In [418]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
test = sc.fit_transform(test)

In [419]:
test

array([[-0.75110125, -1.21558782, -0.5330071 , -0.10567223],
       [-0.05487716, -0.32353941, -0.5330071 , -0.10567223],
       [-0.75110125,  0.29450799,  0.8337018 , -0.78411355],
       ...,
       [-0.75110125, -0.539856  , -0.5330071 , -0.27528256],
       [-0.75110125, -1.06313613,  0.8337018 , -0.27528256],
       [ 0.64134693,  1.0588266 ,  0.8337018 , -0.27528256]])

In [420]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(test)
test = imputer.transform(test)

## Testing with test.csv

In [421]:
Y_final=Multi_reg.predict(test)

In [424]:
Y_final = pd.DataFrame(Y_final,columns=['SalePrice'])

In [426]:
Y_final

          SalePrice
0     110866.593891
1     168832.216352
2     155741.842988
3     184747.862221
4     226781.887703
...             ...
1454   92480.550867
1455   92480.550867
1456  131509.996369
1457  114361.572343
1458  240662.631523

[1459 rows x 1 columns]