# House-Price-Model(Linear Regression)

## Importing modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reading File

In [2]:
train=pd.read_csv('F:/Master SEM-2/dsp-yashkumar-jain/data/house-prices-advanced-regression-techniques/train.csv')
test=pd.read_csv('F:/Master SEM-2/dsp-yashkumar-jain/data/house-prices-advanced-regression-techniques/test.csv')

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
Y=train['SalePrice']

In [14]:
# Train.csv has been split because to find the performance metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_ = train_test_split(train,Y, test_size = 0.2, random_state=0)

### FInd correlation with respect to SalePrice

In [15]:
X_train.corr().sort_values(by='SalePrice')['SalePrice']

KitchenAbvGr    -0.136104
EnclosedPorch   -0.129519
MSSubClass      -0.084312
OverallCond     -0.053643
YrSold          -0.045628
MiscVal         -0.024750
LowQualFinSF    -0.023128
BsmtFinSF2      -0.020622
Id              -0.017389
BsmtHalfBath    -0.010994
PoolArea         0.027441
MoSold           0.041369
3SsnPorch        0.057561
ScreenPorch      0.096740
BedroomAbvGr     0.182258
BsmtUnfSF        0.206736
BsmtFullBath     0.226432
LotArea          0.252766
HalfBath         0.283762
WoodDeckSF       0.311813
2ndFlrSF         0.320141
OpenPorchSF      0.320193
LotFrontage      0.360274
BsmtFinSF1       0.401390
Fireplaces       0.470320
MasVnrArea       0.493482
GarageYrBlt      0.494154
YearRemodAdd     0.517822
YearBuilt        0.521242
TotRmsAbvGrd     0.542658
FullBath         0.578134
1stFlrSF         0.620740
TotalBsmtSF      0.635535
GarageArea       0.646603
GarageCars       0.660927
GrLivArea        0.721707
OverallQual      0.790636
SalePrice        1.000000
Name: SalePrice, dtype: float64

### Taking features which has correlation greater than 0.6

In [16]:
# Spearting numerical features for train
train_X_num=X_train[['OverallQual','GrLivArea','GarageCars','GarageArea','TotalBsmtSF','SalePrice']]
train_X_num

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  SalePrice
618             9       1828           3         774         1822     314813
870             5        894           1         308          894     109500
92              5        964           2         432          876     163500
817             8       1689           3         857         1568     271000
302             7       1541           3         843         1541     205000
...           ...        ...         ...         ...          ...        ...
763             8       2365           3         856         1252     337000
835             4       1067           2         436         1067     128000
1216            6       1902           2         539            0     112000
559             7       1557           2         420         1374     234000
684             7       1839           2         486         1195     221000

[1168 rows x 6 columns]

In [17]:
val_X_num=X_val[['OverallQual','GrLivArea','GarageCars','GarageArea','TotalBsmtSF','SalePrice']]
val_X_num

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  SalePrice
529             6       2515           2         484         2035     200624
491             6       1578           1         240          806     133000
459             5       1203           1         352          709     110000
279             7       2022           2         505         1160     192000
655             6       1092           1         264          525      88000
...           ...        ...         ...         ...          ...        ...
326             8       1719           2         473         1719     324000
440            10       2402           3         672         3094     555000
1387            6       2526           1         216          714     136000
1323            4        708           0           0          420      82500
61              5       1111           1         288          530     101000

[292 rows x 6 columns]

## Categorical Features

In [18]:
train_X_cat=X_train.select_dtypes(include=['object'])
train_X_cat.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,New,Partial
870,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
817,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
302,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [19]:
train_X_cat.isnull().sum()

MSZoning            0
Street              0
Alley            1097
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          6
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           28
BsmtCond           28
BsmtExposure       28
BsmtFinType1       28
BsmtFinType2       29
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       551
GarageType         58
GarageFinish       58
GarageQual         58
GarageCond         58
PavedDrive          0
PoolQC           1164
Fence             954
MiscFeature      1119
SaleType            0
SaleCondition       0
dtype: int64

In [20]:
val_X_cat=X_train.select_dtypes(include=['object'])
val_X_cat.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,New,Partial
870,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
817,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
302,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

### Replacing null values to something meaningful

In [21]:
def replaceNaN(df):
    df.fillna({'Alley':'No alley access',
                   'BsmtQual':'No Basement',
                   'BsmtCond':'No Basement',
                   'BsmtExposure':'No Basement',
                   'BsmtFinType1':'No Basement',
                   'BsmtFinType2':'No Basement',
                    'FireplaceQu':'No Fireplace',
                   'GarageType':'No Garage',
                   'GarageFinish':'No Garage',
                   'GarageQual':'No Garage',
                   'GarageCond':'No Garage',
                   'PoolQC':'No Pool',
                   'Fence':'No Fence',
                   'MiscFeature':'None'},
                  inplace = True)

In [22]:
replaceNaN(train_X_cat)
train_X_cat.isnull().sum()

MSZoning         0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       6
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       1
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
PoolQC           0
Fence            0
MiscFeature      0
SaleType         0
SaleCondition    0
dtype: int64

In [23]:
replaceNaN(val_X_cat)
val_X_cat.isnull().sum()

MSZoning         0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       6
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       1
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
PoolQC           0
Fence            0
MiscFeature      0
SaleType         0
SaleCondition    0
dtype: int64

## Concatinating train and test for encoding

In [24]:
train_id=train_X_cat.index
val_id=val_X_cat.index
data = pd.concat([train_X_cat,val_X_cat])
data.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,No alley access,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,No Pool,No Fence,None,New,Partial
870,RL,Pave,No alley access,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,No Pool,No Fence,None,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,No Pool,No Fence,None,WD,Normal
817,RL,Pave,No alley access,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,No Pool,No Fence,None,WD,Normal
302,RL,Pave,No alley access,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,No Pool,No Fence,None,WD,Normal

In [25]:
for col in data:
    print(data[col].unique())

['RL' 'FV' 'RM' 'RH' 'C (all)']
['Pave' 'Grvl']
['No alley access' 'Grvl' 'Pave']
['Reg' 'IR1' 'IR2' 'IR3']
['Lvl' 'HLS' 'Bnk' 'Low']
['AllPub' 'NoSeWa']
['Inside' 'CulDSac' 'Corner' 'FR2' 'FR3']
['Gtl' 'Mod' 'Sev']
['NridgHt' 'NAmes' 'Crawfor' 'Mitchel' 'CollgCr' 'Somerst' 'MeadowV'
 'BrkSide' 'Edwards' 'OldTown' 'Veenker' 'Gilbert' 'IDOTRR' 'Timber'
 'Blmngtn' 'StoneBr' 'SWISU' 'SawyerW' 'NWAmes' 'Sawyer' 'NoRidge'
 'ClearCr' 'BrDale' 'NPkVill' 'Blueste']
['Norm' 'PosN' 'Feedr' 'Artery' 'PosA' 'RRAn' 'RRAe' 'RRNn' 'RRNe']
['Norm' 'PosA' 'Feedr' 'PosN' 'Artery' 'RRAe']
['1Fam' 'Twnhs' 'TwnhsE' '2fmCon' 'Duplex']
['1Story' '2Story' 'SLvl' '1.5Fin' '2.5Unf' '2.5Fin' 'SFoyer' '1.5Unf']
['Hip' 'Gable' 'Flat' 'Mansard' 'Shed' 'Gambrel']
['CompShg' 'Membran' 'Tar&Grv' 'WdShake' 'WdShngl' 'Metal' 'Roll']
['CemntBd' 'MetalSd' 'Wd Sdng' 'VinylSd' 'Plywood' 'HdBoard' 'BrkFace'
 'AsbShng' 'WdShing' 'AsphShn' 'Stucco' 'BrkComm' 'ImStucc' 'CBlock'
 'Stone']
['CmentBd' 'MetalSd' 'Wd Sdng' 'VinylSd' 'BrkFace' 'Plywood' 'HdBoard'
 'Wd Shng' 'AsbShng' 'Brk Cmn' 'AsphShn' 'Stucco' 'ImStucc' 'Stone'
 'CBlock' 'Other']
['BrkFace' 'None' 'Stone' nan 'BrkCmn']
['Ex' 'TA' 'Gd' 'Fa']
['TA' 'Gd' 'Ex' 'Fa' 'Po']
['PConc' 'CBlock' 'BrkTil' 'Stone' 'Slab' 'Wood']
['Ex' 'TA' 'Gd' 'No Basement' 'Fa']
['TA' 'Gd' 'No Basement' 'Fa' 'Po']
['Av' 'No' 'Gd' 'No Basement' 'Mn']
['GLQ' 'Unf' 'ALQ' 'Rec' 'No Basement' 'LwQ' 'BLQ']
['Unf' 'ALQ' 'Rec' 'No Basement' 'BLQ' 'LwQ' 'GLQ']
['GasA' 'OthW' 'GasW' 'Grav' 'Wall' 'Floor']
['Ex' 'Gd' 'TA' 'Fa' 'Po']
['Y' 'N']
['SBrkr' 'FuseF' 'FuseA' 'FuseP' nan 'Mix']
['Gd' 'TA' 'Ex' 'Fa']
['Typ' 'Min1' 'Min2' 'Maj2' 'Mod' 'Maj1']
['Gd' 'No Fireplace' 'TA' 'Ex' 'Po' 'Fa']
['Attchd' 'Detchd' 'BuiltIn' 'No Garage' 'Basment' '2Types' 'CarPort']
['Unf' 'RFn' 'Fin' 'No Garage']
['TA' 'Fa' 'No Garage' 'Gd' 'Ex' 'Po']
['TA' 'Fa' 'No Garage' 'Gd' 'Ex' 'Po']
['Y' 'P' 'N']
['No Pool' 'Fa' 'Gd' 'Ex']
['No Fence' 'GdWo' 'GdPrv' 'MnPrv' 'MnWw']
['None' 'Shed' 'Gar2' 'Othr']
['New' 'WD' 'COD' 'ConLD' 'ConLw' 'Oth' 'ConLI' 'Con' 'CWD']
['Partial' 'Normal' 'Abnorml' 'Family' 'Alloca' 'AdjLand']

In [1038]:
# ordinal encoding
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
colsOrdinal = ['LotShape', 'Utilities', 'LandSlope', 'HouseStyle', 'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'HeatingQC', 'CentralAir', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC']
ordinal=OrdinalEncoder()
data[colsOrdinal] = pd.DataFrame(ordinal.fit_transform(data[colsOrdinal]),columns=colsOrdinal)
data.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,No alley access,3.0,Lvl,0.0,Inside,0.0,CollgCr,Norm,...,Attchd,2.0,5.0,5.0,Y,3.0,No Fence,None,WD,Normal
1,RL,Pave,No alley access,3.0,Lvl,0.0,FR2,0.0,Veenker,Feedr,...,Attchd,2.0,5.0,5.0,Y,3.0,No Fence,None,WD,Normal
2,RL,Pave,No alley access,0.0,Lvl,0.0,Inside,0.0,CollgCr,Norm,...,Attchd,2.0,5.0,5.0,Y,3.0,No Fence,None,WD,Normal
3,RL,Pave,No alley access,0.0,Lvl,0.0,Corner,0.0,Crawfor,Norm,...,Detchd,3.0,5.0,5.0,Y,3.0,No Fence,None,WD,Abnorml
4,RL,Pave,No alley access,0.0,Lvl,0.0,FR2,0.0,NoRidge,Norm,...,Attchd,2.0,5.0,5.0,Y,3.0,No Fence,None,WD,Normal

In [1039]:
#one hot encoding 
cols = list(set(data.columns) - set(colsOrdinal))
oneHot=OneHotEncoder()
oneHotArr = oneHot.fit_transform(data[cols]).toarray()
labels = np.array(oneHot.get_feature_names_out()).ravel()
OneHotData = pd.DataFrame(oneHotArr, columns = labels, index = data.index)
OneHotData.head()

,RoofStyle_Flat,RoofStyle_Gable,RoofStyle_Gambrel,RoofStyle_Hip,RoofStyle_Mansard,RoofStyle_Shed,Heating_Floor,Heating_GasA,Heating_GasW,Heating_Grav,...,Condition1_RRNe,Condition1_RRNn,Condition2_Artery,Condition2_Feedr,Condition2_Norm,Condition2_PosA,Condition2_PosN,Condition2_RRAe,Condition2_RRAn,Condition2_RRNn
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [1040]:
#concat one hot with ordinal 
data=pd.concat([data[colsOrdinal],OneHotData],axis=1)
data

,LotShape,Utilities,LandSlope,HouseStyle,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,...,Condition1_RRNe,Condition1_RRNn,Condition2_Artery,Condition2_Feedr,Condition2_Norm,Condition2_PosA,Condition2_PosN,Condition2_RRAe,Condition2_RRAn,Condition2_RRNn
0,3.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,3.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,3.0,0.0,0.0,2.0,3.0,4.0,2.0,4.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,5.0,3.0,4.0,4.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,3.0,0.0,0.0,2.0,2.0,4.0,2.0,4.0,3.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1455,3.0,0.0,0.0,5.0,3.0,4.0,2.0,4.0,3.0,6.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1456,3.0,0.0,0.0,2.0,3.0,4.0,2.0,4.0,3.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1457,3.0,0.0,0.0,5.0,0.0,2.0,4.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1458,3.0,0.0,0.0,2.0,3.0,4.0,4.0,4.0,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [1041]:
X_train_cat=data.iloc[train_id]

In [1042]:
X_train_cat.shape

(1460, 193)

In [1043]:
X_test_cat=data.iloc[test_id]
X_test_cat

,LotShape,Utilities,LandSlope,HouseStyle,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,...,Condition1_RRNe,Condition1_RRNn,Condition2_Artery,Condition2_Feedr,Condition2_Norm,Condition2_PosA,Condition2_PosN,Condition2_RRAe,Condition2_RRAn,Condition2_RRNn
0,3.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,3.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,3.0,0.0,0.0,2.0,3.0,4.0,2.0,4.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,5.0,3.0,4.0,4.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,3.0,0.0,0.0,2.0,2.0,4.0,2.0,4.0,3.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1455,3.0,0.0,0.0,5.0,3.0,4.0,2.0,4.0,3.0,6.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1456,3.0,0.0,0.0,2.0,3.0,4.0,2.0,4.0,3.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1457,3.0,0.0,0.0,5.0,0.0,2.0,4.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1458,3.0,0.0,0.0,2.0,3.0,4.0,4.0,4.0,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [1044]:
X_train_cat.index=train_X_num.index
X_train= pd.concat([X_train_cat,train_X_num],axis=1)

In [1045]:
#test set
X_test_cat.index=test_X_num.index
X_test = pd.concat([X_test_cat,test_X_num],axis=1)
X_test.head()

,LotShape,Utilities,LandSlope,HouseStyle,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,...,Condition2_PosA,Condition2_PosN,Condition2_RRAe,Condition2_RRAn,Condition2_RRNn,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF
0,3.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,5,896,1.0,730.0,882.0
1,3.0,0.0,0.0,2.0,3.0,4.0,2.0,4.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6,1329,1.0,312.0,1329.0
2,0.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,5,1629,2.0,482.0,928.0
3,0.0,0.0,0.0,5.0,3.0,4.0,4.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6,1604,2.0,470.0,926.0
4,0.0,0.0,0.0,5.0,2.0,4.0,2.0,4.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,8,1280,2.0,506.0,1280.0

### Finding top correlation with saleprice

In [1046]:
data=X_train.corr().sort_values(by='SalePrice',ascending=False)['SalePrice']
data[:15]

SalePrice                1.000000
OverallQual              0.790982
GrLivArea                0.708624
GarageCars               0.640409
GarageArea               0.623431
TotalBsmtSF              0.613581
Foundation_PConc         0.497734
Neighborhood_NridgHt     0.402149
SaleType_New             0.357509
SaleCondition_Partial    0.352060
GarageType_Attchd        0.335961
MasVnrType_Stone         0.330476
Neighborhood_NoRidge     0.330424
Exterior2nd_VinylSd      0.306389
Exterior1st_VinylSd      0.305009
Name: SalePrice, dtype: float64

### Taking features which has corr greater than 0.60

In [1047]:
#separate labels from training set 
Y_train=pd.DataFrame(X_train['SalePrice'],columns=['SalePrice'])
print(Y_train.head())
X_train=X_train[['OverallQual','GrLivArea','Foundation_PConc','Neighborhood_NridgHt']]
X_train.info()

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OverallQual           1460 non-null   int64
 1   GrLivArea             1460 non-null   int64
 2   Foundation_PConc      1460 non-null   float64
 3   Neighborhood_NridgHt  1460 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 45.8 KB

In [1048]:
X_test=X_test[['OverallQual','GrLivArea','Foundation_PConc','Neighborhood_NridgHt']]
X_test

      OverallQual  GrLivArea  Foundation_PConc  Neighborhood_NridgHt
0               5        896               1.0                   0.0
1               6       1329               0.0                   0.0
2               5       1629               1.0                   0.0
3               6       1604               0.0                   0.0
4               8       1280               1.0                   0.0
...           ...        ...               ...                   ...
1454            4       1092               1.0                   0.0
1455            4       1092               1.0                   0.0
1456            5       1224               0.0                   0.0
1457            5        970               0.0                   0.0
1458            7       2000               0.0                   0.0

[1459 rows x 4 columns]

## Applying normalization

In [1049]:
def normalize(train,test):
    train_normalized = train.copy()
    test_normalized = test.copy()
    
    
    for column in train_normalized.columns:
        mini=min(train_normalized[column].min(),test_normalized[column].min())
        maxi = max(train_normalized[column].max(),test_normalized[column].max())
    
        
        train_normalized[column] = (train_normalized[column]- mini) / (maxi-mini)
        test_normalized[column] = (test_normalized[column]- mini) / (maxi-mini)
    return train_normalized,test_normalized

In [1050]:
#Apply data normalization 
cols = X_train.columns
train,test = normalize(X_train,X_test)
X_train = pd.DataFrame(train,columns=cols)
X_test = pd.DataFrame(test,columns=cols)
print(X_train.head())
print(X_test.head())

   OverallQual  GrLivArea  Foundation_PConc  Neighborhood_NridgHt
0     0.666667   0.259231               1.0                   0.0
1     0.555556   0.174830               0.0                   0.0
2     0.666667   0.273549               1.0                   0.0
3     0.666667   0.260550               0.0                   0.0
4     0.777778   0.351168               1.0                   0.0
   OverallQual  GrLivArea  Foundation_PConc  Neighborhood_NridgHt
0     0.444444   0.105878               1.0                   0.0
1     0.555556   0.187453               0.0                   0.0
2     0.444444   0.243971               1.0                   0.0
3     0.555556   0.239261               0.0                   0.0
4     0.777778   0.178222               1.0                   0.0

In [1051]:
X_train.shape,X_test.shape,Y.shape

((1460, 4), (1459, 4), (1460,))

## Dealing with missing value if any

In [1052]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X_train)
X_train = imputer.transform(X_train)

In [1053]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X_test)
X_test = imputer.transform(X_test)

## Linear Regression Model

In [1071]:
# Train.csv has been split because to find the performance metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
X_train_Prep, X_val, Y_train_Prep, Y_val = train_test_split(X_train,Y, test_size = 0.2, random_state=0)

In [1072]:
from sklearn.linear_model import LinearRegression
#Applying MultiRegression
Multi_reg = LinearRegression()
Multi_reg.fit(X_train_Prep,Y_train_Prep )

LinearRegression()

In [1073]:
y_pred = Multi_reg.predict(X_val)

In [1074]:
y_pred = pd.DataFrame(y_pred,columns=['SalePrice'])

In [1075]:
y_pred

         SalePrice
0    244730.263690
1    173699.373932
2    124684.707590
3    226945.798124
4    143893.079506
..             ...
287  247943.688591
288  390484.800626
289  231840.047009
290   68310.462378
291  119042.363790

[292 rows x 1 columns]

## Performace of Model

In [1076]:
from sklearn.metrics import r2_score
def CostFunction(y_pred, Y_test):
    y_pred = y_pred.squeeze()
    y_val = Y_test.squeeze()
    print("Mean square error (MSE): %.2f" % np.mean((y_pred - y_val) ** 2))
    print("Root mean square error (RMSE): %.2f" % np.sqrt(np.mean((y_pred - y_val) ** 2)))
    print("Mean absolute error (MAE): %.2f" % np.mean(abs(y_pred - y_val)))
    print("Coefficient of determination (R^2): %.2f" % r2_score(y_val, y_pred))

CostFunction(y_pred, Y_val)

Mean square error (MSE): 14318471285.06
Root mean square error (RMSE): 119659.81
Mean absolute error (MAE): 92938.94
Coefficient of determination (R^2): 0.70

## Testing with test.csv

In [1077]:
Y_Final=Multi_reg.predict(X_test)

In [1068]:
Y_Final=pd.DataFrame(Y_Final)

In [1069]:
Y_Final

                  0
0     119421.296391
1     158428.247776
2     164376.057325
3     175293.949354
4     221019.895890
...             ...
1454  105425.959509
1455  105425.959509
1456  125972.633893
1457  110394.858617
1458  225596.541998

[1459 rows x 1 columns]

## Finding RSMLE

In [1081]:
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(Y_val: np.ndarray, y_pred: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(Y_val, y_pred))
    return round(rmsle, precision)

In [1082]:
compute_rmsle(Y_val,y_pred)

0.21